@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Quicksand;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #5d5656a2;
}
.wrap-login{
    width: 390px;
    background-color: #3333;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 30px;
    color:azure;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.login-form-title img {
    width: 90px;
    
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    pad: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left, #27aae2, #f9931c);
    background: -o-linear-gradient(to left, #27aae2, #f9931c);
    background: -moz-linear-gradient(to left, #27aae2, #f9931c);
    background: linear-gradient(to left, #27aae2, #f9931c);
}

.focus-input::after {
    font-size: 15px;
    color: #b32121;
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after{
    top: -15px;
}

.input:focus + .focus-input::before{
    width: 100%;
}

.has-val + .focus-input::after{
    top: -15px;
}

.has-val + .focus-input::before{
    width: 100%;
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}
.login-form-btn{
    font-size: 15px;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #27aae2, #f9931c);
    background: -o-linear-gradient(to left, #27aae2, #f9931c);
    background: -moz-linear-gradient(to left, #27aae2, #f9931c);
    background: linear-gradient(to left, #27aae2, #f9931c);

}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.txt1 {
    font-size: 14px;
    color: #f9931c;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}
.txt2 {
    font-size: 14px;
    color: #27aae2;
    line-height: 1.5;
    text-decoration: none;
}

.txt3 {
    font-size: 14px;
    color:  rgba(255, 255, 255, 0.568);
    line-height: 1.5;
}